@charset "UTF-8";

body {
    background: rgb(73, 73, 255);
    font: normal 15pt arial;
    height: 88vh;
    position: relative;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    text-align: center;
    font-style: italic;
    position: absolute;
    width: 100vw;
    height: 40px;
    top: 100%;
}

footer > p {
    margin: auto;
}